// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-top .main-content .container.content {
  background-image: asset_url("film.png");;
  background-repeat: no-repeat;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
}
.about .image {
  background-image: asset_url("about.png");;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: table-cell;
  vertical-align: middle;
}


