<!DOCTYPE html>
<html>
  <head>
    <title>Tagsolution</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="naver-site-verification" content="aa1f7d416f04594822966c875fa6e413083668be"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
